SodispolSoftware/src/wsdl/WebServiceSodispol.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServiceSodispol.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServiceSodispol.com/" name="WebServiceSodispol">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServiceSodispol.com/" schemaLocation="http://localhost:8090/WebServiceSodispol/WebServiceSodispol?xsd=1" />
</xsd:schema>
</types>
<message name="datosEstudianteMatricula">
<part name="parameters" element="tns:datosEstudianteMatricula" />
</message>
<message name="datosEstudianteMatriculaResponse">
<part name="parameters" element="tns:datosEstudianteMatriculaResponse" />
</message>
<message name="datosEstudianteUsername">
<part name="parameters" element="tns:datosEstudianteUsername" />
</message>
<message name="datosEstudianteUsernameResponse">
<part name="parameters" element="tns:datosEstudianteUsernameResponse" />
</message>
<message name="datosProfesionalCedula">
<part name="parameters" element="tns:datosProfesionalCedula" />
</message>
<message name="datosProfesionalCedulaResponse">
<part name="parameters" element="tns:datosProfesionalCedulaResponse" />
</message>
<message name="datosProfesionalUsername">
<part name="parameters" element="tns:datosProfesionalUsername" />
</message>
<message name="datosProfesionalUsernameResponse">
<part name="parameters" element="tns:datosProfesionalUsernameResponse" />
</message>
<message name="datosEstudianteCedula">
<part name="parameters" element="tns:datosEstudianteCedula" />
</message>
<message name="datosEstudianteCedulaResponse">
<part name="parameters" element="tns:datosEstudianteCedulaResponse" />
</message>
<message name="tipoUsuario">
<part name="parameters" element="tns:tipoUsuario" />
</message>
<message name="tipoUsuarioResponse">
<part name="parameters" element="tns:tipoUsuarioResponse" />
</message>
<portType name="WebServiceSodispol">
<operation name="datosEstudianteMatricula">
<input wsam:Action="http://WebServiceSodispol.com/WebServiceSodispol/datosEstudianteMatriculaRequest" message="tns:datosEstudianteMatricula" />
<output wsam:Action="http://WebServiceSodispol.com/WebServiceSodispol/datosEstudianteMatriculaResponse" message="tns:datosEstudianteMatriculaResponse" />
</operation>
<operation name="datosEstudianteUsername">
<input wsam:Action="http://WebServiceSodispol.com/WebServiceSodispol/datosEstudianteUsernameRequest" message="tns:datosEstudianteUsername" />
<output wsam:Action="http://WebServiceSodispol.com/WebServiceSodispol/datosEstudianteUsernameResponse" message="tns:datosEstudianteUsernameResponse" />
</operation>
<operation name="datosProfesionalCedula">
<input wsam:Action="http://WebServiceSodispol.com/WebServiceSodispol/datosProfesionalCedulaRequest" message="tns:datosProfesionalCedula" />
<output wsam:Action="http://WebServiceSodispol.com/WebServiceSodispol/datosProfesionalCedulaResponse" message="tns:datosProfesionalCedulaResponse" />
</operation>
<operation name="datosProfesionalUsername">
<input wsam:Action="http://WebServiceSodispol.com/WebServiceSodispol/datosProfesionalUsernameRequest" message="tns:datosProfesionalUsername" />
<output wsam:Action="http://WebServiceSodispol.com/WebServiceSodispol/datosProfesionalUsernameResponse" message="tns:datosProfesionalUsernameResponse" />
</operation>
<operation name="datosEstudianteCedula">
<input wsam:Action="http://WebServiceSodispol.com/WebServiceSodispol/datosEstudianteCedulaRequest" message="tns:datosEstudianteCedula" />
<output wsam:Action="http://WebServiceSodispol.com/WebServiceSodispol/datosEstudianteCedulaResponse" message="tns:datosEstudianteCedulaResponse" />
</operation>
<operation name="tipoUsuario">
<input wsam:Action="http://WebServiceSodispol.com/WebServiceSodispol/tipoUsuarioRequest" message="tns:tipoUsuario" />
<output wsam:Action="http://WebServiceSodispol.com/WebServiceSodispol/tipoUsuarioResponse" message="tns:tipoUsuarioResponse" />
</operation>
</portType>
<binding name="WebServiceSodispolPortBinding" type="tns:WebServiceSodispol">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="datosEstudianteMatricula">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="datosEstudianteUsername">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="datosProfesionalCedula">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="datosProfesionalUsername">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="datosEstudianteCedula">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="tipoUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WebServiceSodispol">
<port name="WebServiceSodispolPort" binding="tns:WebServiceSodispolPortBinding">
<soap:address location="http://localhost:8090/WebServiceSodispol/WebServiceSodispol" />
</port>
</service>
</definitions>